{% extends "default/module.html.jinja2" %}
<style>
    {% block style_theme %}
        :root {
            --pdoc-background: #212529;
        }
        .pdoc {
            --text: #f7f7f7;
            --muted: #9d9d9d;
            --link: #58a6ff;
            --link-hover: #3989ff;
            --code: #333;
            --active: #555;

            --accent: #343434;
            --accent2: #555;

            --nav-hover: rgba(0, 0, 0, 0.1);
            --name: #77C1FF;
            --def: #81d975;
            --annotation: #00c037;
        }
    {% endblock %}

    {% block style_layout %}
        {{ super() }}
        {*
        @media (max-width: 769px) {                    
            .git-button {
                display: inline !important;
                margin-right: 4.5em;
                margin-lef: 1em;
            }
        }
        *}
        
        nav.pdoc .logo {
            max-height: 12vh;
        }
    {% endblock %}

    {% block style_content %}
        {{ super() }}
        .pdoc h6 {
            font-weight: bold;
            margin: .3em .0em;
            color: #e8db80;
        }
    {% endblock %}
</style>

{% block edit_button %}
    {% if edit_url %}
        <a class="pdoc-button git-button" href="{{ edit_url }}">Source</a>
    {% endif %}
{% endblock %}
